@model IEnumerable<DCSPCS.BOL.DTO.EquipVendorDTO>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipVendorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipVendorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipDataID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.EquipVendorID
        </td>
        <td>
            @Html.ActionLink(item.EquipVendorName, "Edit", new { item.EquipVendorID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipDataID)
        </td>
        <td>
            @using (Html.BeginForm("Delete", "Home"))
            {
                @Html.Hidden("EquipVendorID", item.EquipVendorID)
                <input type="submit" value="Delete" />
            }
        </td>
    </tr>
}

</table>
