@model IEnumerable<DCSPCS.BOL.DTO.WREquipmentDTO>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WREquipID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WRProdID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipDataID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WREquipQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WREquipUnits)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WREquipID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WRProdID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipDataID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WREquipQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WREquipUnits)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
