@model IEnumerable<DCSPCS.BOL.DTO.PRProductDTO>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRProdID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRProdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRProdDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PREquipID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRProdID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRProdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRProdDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PREquipID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
